body {
    display: flex;
    background-color: burlywood;
    height: 100vh;
    margin: 0;
}

#template-container, #matrix-container {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: burlywood;
    height: 100vh;
    margin: 0;
}

#template,
#matrix {
    text-align: center;
}

#template-container {
    background-color: bisque;
}

#matrix input {
    width: 50px;
    margin: 10px;
}

#matrix button {
    width: 130px;
    background-color: beige;
}

#matrix p {
    font-weight: bolder;
}

#textfield {
    width: 500px; 
    height: 500px;
    background-color: bisque; 
}

label {
    font-weight: bolder;
}


